@model FamousPeople.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="">
        <strong>
            <p>Беларусь славится выдающимися людьми, которые оставили след не только в истории своего государства, но известны далеко за пределами своей Родины.</p>
            <p>Познакомьтесь с самыми известными белорусами, которые внесли вклад в Мировую историю.</p>
        </strong>
    </div>

    <div class="col-sm-8">

        <div class="container z-depth-1 my-5 p-5">

            <!-- Section -->
            <section>
                <hr class="w-header my-4">

                <div class="row d-flex justify-content-center">

                    @foreach (var person in @Model.People)
                    {
                        <div class="col-md-6 col-xl-4">
                            <img src="\images\@person.ProfilePictureURL" class="img-fluid" alt="" title="" />

                        </div>

                        <div class="col-md-6">
                            <h5 class="font-weight-normal"><a class="dark-grey-text" asp-controller="Person" asp-action="Details" asp-route-id="@person.Id">@person.FullName</a></h5>

                            <p class="text-muted mb-5 pb-2">
                                @person.Bio
                            </p>
                        </div>
                    }
                </div>

            </section>
            <!-- Section -->

        </div>
    </div>
    <div class="container sidebar col-sm-4 z-depth-1 my-5 p-5">
        <h3>Список доступных категорий</h3>
        <hr class="w-header my-4">

        <div class="mb-5">
            <div class="tagcloud">
                @foreach (var category in Model.Categories)
                {
                    <a class="tag-cloud-link" name="category" asp-area="" asp-controller="Person"
                   asp-action="FilterByCat" asp-route-id="@category?.Id">@category.CategoryName</a>
                }
            </div>
        </div>
        <h3>Сегодня день рождения</h3>
        <hr class="w-header my-4">
        <div>
            <a asp-controller="Person" asp-action="FilterByDate" name="date" class="btn btn-info">Узнать</a>

        </div>
    </div>
</div>